/* Navbar color */

.navbar {
    background-color: #161616 !important;
    border-color: #262626;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.nav-link-p {
  padding-top: 5px;
  transition: all .6s ease;
}

.nav-link:hover .nav-link-p {
  /* color: green; */
}

.get-in-touch {
  border: 1px solid #fff;
  padding: 5px 10px;
  transition: all .6s ease;
}

.get-in-touch:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.1);
  box-shadow: 0 14px 26px -12px rgba(76, 175, 80, .42), 0 4px 23px 0 rgba(0, 0, 0, .5), 0 8px 10px -5px rgba(76, 175, 80, .4);
}

.navbar-brand {
  transition: all .5s ease;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.nav-link {
  transition: all .6s ease;
}

.nav-link:hover .fa-twitter {
  color: #55acee;
}

.nav-link:hover .fa-linkedin {
  background-color: #0077b5;
}

.nav-link:hover .fa-instagram {
  color: #e4405f;
}

/* SideBar */


@media screen and (max-width: 991px) {
  .sidebar-collapse .navbar-collapse:before {
      background: #262626 !important;
      background: -webkit-linear-gradient(#262626 0%, #000 80%) !important;
      background: -o-linear-gradient(#262626 0%, #000 80%) !important;
      background: -moz-linear-gradient(#262626 0%, #000 80%) !important;
      background: linear-gradient(#262626 0%, #000 80%) !important;
  }
}


/* Jumbotron Section */

.page-header::before {
  background-color: #fff;
}



/* Parallax Background */


.parallax-div {
  position: relative;
}

.parallax-bg {
  background: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
              url('../assets/img/bg12.JPG') no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
}

.parallax-content {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  z-index: 1;
}

.parallax-head {
  text-align: center;
  color: #fff;
  padding: 40px 0;
  font-family: 'Love Ya Like A Sister', Montserrat;
}

.parallax-description {
  font-family: 'Love Ya Like A Sister', Montserrat;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.description {
  text-align: center;
  color: #fff;
  padding-top: 50px;
  font-family: 'Share Tech', Montserrat;
}


/* Footer */

.fa-coffee {
  color: #000;
  font-size: 16px;
}

.footer-love {
  color: red;
  animation: heart-beat 1s ease infinite;
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.3);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
